#GLOBAL IGNORES
**/Dockerfile
**/.dockerignore
**/.gitignore

#API Ignores
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/*.log
**/.git
**/.mypy_cache
**/.pytest_cache
**/.hypothesis
**/.env

#UI Ignores
**/node_modules/
**/build/
**/.git/
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
